<mat-card class="user-detail-header">
    <button class="pin-right-upper-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #userMenu="matMenu">
        <button (click)="editUserDetail()" mat-menu-item>Edit</button>
    </mat-menu>
    <img src="./../../assets/img/profile-pic-man.png">
    <div class="user-details">
        <h2>{{user.firstName}} {{user.lastName}}</h2> <br> <span>{{user.email}}</span>
    </div>
</mat-card>
<mat-card class="mt-32">
    <button class="pin-right-upper-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #addressMenu="matMenu">
        <button (click)="editMenu()" mat-menu-item>Edit</button>
    </mat-menu>
    <mat-card-title>Adresse</mat-card-title>
    <mat-card-content>
        {{user.street}} <br> {{ user.zipCode }}{{user.city}}
    </mat-card-content>
</mat-card>