<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>City</td>
        </tr>
        <tr>
            <mat-card-content>Simple card</mat-card-content>
        </tr>
    </table>
</mat-card><button mat-fab color="primary" class="btn-fab" matTooltip="Add user" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>